* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

body{
    background-image:url("images/sky.png");
    background-size: cover;

}

.titre span{
 position: relative;
 padding: 20px 20px; 
 background-color: rgba(217, 217, 217, 1);
 opacity: 0.6; 
display: inline-block;
border-radius: 20px;
margin-top: 15px;
}


.titre{
text-align: center;
 font-weight: 800;
 font-size: 11px;
}


.modebtn{

}

.search{
display: flex;
justify-content: space-between;
width: 700px;
height: 100px;
background-color: hsl(0, 0%, 100%, 0.5);
padding: 20px 40px; 
border-radius: 100px;
margin-top: 15px;
margin-left: 20%;
align-items: center;
}


.search input{
  width: 600px;
height: 60px;
 padding: 20px 10px; 
 background-color: rgba(217, 217, 217, 1);
border-radius: 100px;
margin-top: 15px;
width: 500px;
margin-bottom: 10px;
border: none; 
outline: none; 
box-shadow: none;
}
.search .btn{
  background-color: rgba(32, 55, 180, 1);
  color: white;
  padding: 5px 2px; 
  border-radius: 30px;
width: 100px;
height: 50px;
margin-top: 5px;
cursor: pointer;
}

main{
height: 350px;
background-color: rgba(255, 255, 255, 0.7);
margin-top: 30px;
margin: 30px;
padding: 30px;
border-radius: 40px;
display: grid;

}

.part1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.part1 img{
  width: 40px;
  margin-left: 35%;
}
.part1 h3{
  margin-top: 40px;
  margin-left: 100px;
  font-size: 35px;
  color:rgba(129, 129, 129, 1);

}
.part1 .temperature{
  margin-top: 30px;
  font-size: 80px;
  margin-left: 100px;
  color:rgba(91, 91, 91, 1);
   font-weight: bold;

}

.part2{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgba(252, 252, 252, 0.7);
  border-radius: 50px;
 padding: 30px;
 height: 300px;

}

.part2 .etat{
  display: flex;
  flex-direction: row;
  font-size: 32px;
  color: rgba(87, 87, 88, 1);
  justify-content: space-around;
}

.etat img{
  width: 200px;
  height: auto;
  position: relative;
  left:100px;
  bottom:50px;
}
.part2 .humidite{
  display: flex;
  flex-direction: row-reverse;
  padding: 90px;
  position: relative;
  bottom: 100px;
  justify-content: space-between;
}

.humi{
  position:relative;
  bottom: 20px;
  left: 20px;
}
.humi img{
width: 80px;
height: auto;
}
.humidite h3{
   font-size: 40px;
   color: rgba(104, 103, 103, 1);
  
}

.humi h5{
  text-align: center;
  color: rgb(164, 164, 164);
}





@media (max-width: 900px) {
  body{
      background-size: 2000px;
    
  }
  
  .search{
    width: 400px;
    height: auto;
    background: none;

  }

  main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .part1{
     transform: scale(0.8);
     width: 80px;
     height: auto;
     margin-top: 100px;
  }
  .part2{
    transform: scale(0.8);
    width: 500px;
    margin: 40px -70px;
  }
  
}






