* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

body{
    background-image:url("images/sky.png");
    background-size: cover;

}

.titre span{
 position: relative;
 padding: 20px 20px; 
 background-color: rgba(217, 217, 217, 1);
 opacity: 0.6; 
display: inline-block;
border-radius: 20px;
margin-top: 15px;
}


.titre{
text-align: center;
 font-weight: 800;
 font-size: 11px;
}


.modebtn{

}

.search{
display: flex;
justify-content: space-between;
width: 700px;
height: 100px;
background-color: hsl(0, 0%, 100%, 0.5);
padding: 20px 40px; 
border-radius: 100px;
margin-top: 15px;
margin-left: 20%;
align-items: center;
}


.search input{
  width: 600px;
height: 60px;
 padding: 20px 10px; 
 background-color: rgba(217, 217, 217, 1);
border-radius: 100px;
margin-top: 15px;
width: 500px;
margin-bottom: 10px;
border: none; 
outline: none; 
box-shadow: none;
}
.search .btn{
  background-color: rgba(32, 55, 180, 1);
  color: white;
  padding: 5px 2px; 
  border-radius: 30px;
width: 100px;
height: 50px;
margin-top: 5px;
}